# Logs
*.log
yarn-debug.log*
yarn-error.log*

# Coverage directory used by tools like istanbul
coverage

# Dependency directories
/.pnp
.pnp.js
node_modules/

# Yarn Integrity file
.yarn-integrity

# next.js
.next
out

# production
/build

# misc
.DS_Store
*.pem

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel
